
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400&family=Montserrat:wght@300;400;500&family=Open+Sans:wght@300&family=Poppins:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .container{
   font-family: 'Fira Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
} */
/*-----------------------------------------header-----------------------------*/
 .container_header{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
 }
 /*----------------------------------------header_box1--------------------------*/
 .container_header_box1{
    display: flex;
    width: 100%;
    height: 50px;
    /* background-color: red; */
    justify-content: space-between;
    align-items: center;
 }
 .header_box1_img{
    margin-left: 40px;
 }
 .header_box1_img img{
    width: 30px;
    height: 30px;
    margin-left: 20px;
 }
 .header_box1_sdt{
    display: flex;
    margin-right: 40px;
    font-size: 1.3rem;
 }
 .header_box1_sdt1{
    display: flex;
    margin-left: 20px;
    align-items: center;
 }
 .header_box1_sdt1 p{
    padding-left: 10px;
 }
 /*----------------------------------------header_box2--------------------------*/
 .container_header_box2{
    display: flex;
    background-color: rgb(243, 176, 52);
    justify-content: space-between;
    align-items: center;
    height: 80px;
 }
 .header_box2_logo img{
    width: 120px;
    height: 69px;
    margin-left: 40px;
    border-radius: 50% 50%;
 }
 .header_box2_menu ul{
    display: flex;
 }
 .header_box2_menu ul li{
    list-style: none;
 }
 .header_box2_menu ul li a{
    color: white;
    font-size: 1.3rem;
    margin-left: 20px;
    text-decoration: none;
 }
 .header_box2_tk{
    margin-right: 40px;
 }
 .header_box2_tk input{
    height: 30px;
    width: 80px;
    border-radius: 10px;
    margin-left: 5px;
 } 

 /* --------------------------------------------------------------------------------------------container_footer_box1----------------*/
.container_footer_box1{
    display: flex;
    margin-top: 30px;
    height: 130px;
    background-color: gray;
    justify-content: center;
    align-items: center;
 }
 .footer_box1_text{
    width: 40%;
 }
 .footer_box1_input{
    margin-top: 40px;
 }
 .footer_box1_input{
    width: 40%;
 }
 .box1_input_a input{
    width: 33,3%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
 }
 .box1_input_b {
    display: flex;
    margin-top: 10px;
 }
 .box1_input_b .text{
    width: 55%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-right: 5px;
 }
 .box1_input_b input{
    width: 26%;
    border-radius: 5px;
    border: 1px solid gray;
 }
 
 
 /*---------------------------------------------------------------------container_footer_box2---------------------------------------------*/
 .container_footer_box2{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    justify-content: center;
    background-color: rgb(243, 176, 52);
 }
 
 .footer_box2_text{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
 }
 .footer_box2_text img{
    width: 200px;
    height: 100px;
 }
 .footer_box2_text p{
    font-size: 0.9rem;
 }
 .footer_box2_text ul li a{
    text-decoration: none;
    color: black;
 }


 .banner{
    width: 100%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .banner input[type="text"]{
    height: 35px;
    width: 40%;
    font-size: 1rem;
    border-radius: 8px;
 }
 .banner input[type="submit"]{
    height: 35px;
    width: 10%;
    font-size: 1rem;
    margin-left: 15px;
    border-radius: 8px;
    border: none;
    background-color: orange;
 }


 /* ================================================================= container_title */
 .container_titlect{
    width: 80%;
    margin: 20px auto;
 }
 .title_img{
   width: 70%;
 }
 .img_chinh img{
   border-radius: 10px;
   margin-top: 10px;
   width: 97%;
   height: 400px;
 }
 .title_img_box img{
   width: 32%;
   height: 150px;
 }
 .title_box1{
   display: flex;
 }
 .title_form{
   width: 30%;
   border: 2px solid black;
   height: 400px;
   margin-top: 50px;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 .form_input{
   margin-top: 20px;
   width: 300px;

 }
 .title_form p{
   width: 300px;
   font-size: 0.5rem;
   margin-bottom: 10px
 }
 .title_form h3{
   margin-top: 10px;
   color: red; 
 }
 .form_input input{
   /* margin-top: 10px; */
   width: 100%;
   height: 40px;
   border-radius: 10px;
   border: 1px solid black;
 }
 .title_form input[type="submit"]{
   margin-top: 15px;
   width: 300px;
   height: 30px;
   border-radius: 10px;
   background-color: orange;
   border: none;
 } 


 .binhluanclass{
   width: 100%;
   min-height: 200px;
   border: 1px solid black;
   border-radius: 10px;
   margin-bottom: 20px;
 }
 .mota{
   margin-top: 10px;
   margin-bottom: 10px;
 }


.ktradangnhap{
   margin-left: 20px;
   line-height: 380px;
}
.title_form p{
   font-size: 19px;
   color: red;
}
.dangnhap{
   position: absolute;
   margin-top: 210px;
}



 /*------------------------------------------------------------------ san pham -------------------------------*/
 .title_box2_hotel2{
   margin-top: 10px;
   width: 80%;
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
}
.title_box2_hotel2 .hotel_sp{
   margin-right: 15px;
   margin-top: 20px;
   margin-bottom: 20px;
}
.title_box2_hotel2 .hotel_sp{
   border: 1px solid gray;
   border-radius: 5px;
   width: 23%;
}
.hotel_sp img{
   width: 100%;
   height: 150px;
}
.hotel_sp_price{
   display: flex;
}
.hotel_sp_text{
   width: 80%;
   margin-left: 10px;
}
.content_sp_img {
   position: relative;
   overflow: hidden;
}

.content_sp_img img {
   transition: transform 0.5s;
}

.content_sp_img:hover img {
   transform: scale(1.15)  ; /* Phóng to ảnh lên 120% */
}
.hotel_sp_text h4{
   color: red;
}
.hotel_sp_icon{
   width: 40px;
   height: 40px;
   border: 1px solid gray;
   border-radius: 50% 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
}
.fa-star{
   color: orange;
}