
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400&family=Montserrat:wght@300;400;500&family=Open+Sans:wght@300&family=Poppins:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
font-family: 'Fira Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}

/* ================================================================= container_title */
.container_titlect{
   position: relative;
   width: 100%;
   min-height: 500px;
   display: flex;   
   flex-direction: column;
}

.background_image {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-size: cover;
   background-position: center;
   z-index: -1;
}
.background_image img{
   width: 100%;
   height: 550px;
   filter: blur(5px);
}
.form h1{
   font-size: 40px;
   font-weight: 500;
   color: black;
   text-align: center;
   margin-top: 20px;
   margin-bottom: 10px
}
.form{
   display: flex;
   width: 100%;
   align-items: center;
}
.form form{
   width: 500px;
   margin: 0 auto;
   text-align: center;
   background-color: white;
   margin-top: 40px;
   border-radius: 10px;
   height: auto;
}
.from_input{
   display: flex;
   flex-direction: column;
}
.from_input input{
   margin: 0 auto;
   margin-top: 20px;
   border: none;
   height: 40px;
   border-bottom: 1px solid black;
   width: 80%;
   font-size: 1.1rem;
}
.from_input input:focus{
   outline: none;
}
.form input[type="submit"] {
   width: 140px;
   background-color: orange;
   margin-top: 20px;
   height: 30px;
   border: none;
   border-radius: 20px;
   margin-bottom: 10px;
}
.form_text{
   margin-bottom: 20px;
}
/*-----------------------------------------header-----------------------------*/
 .container_header{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
 }
 /*----------------------------------------header_box1--------------------------*/
 .container_header_box1{
    display: flex;
    width: 100%;
    height: 50px;
    /* background-color: red; */
    justify-content: space-between;
    align-items: center;
 }
 .header_box1_img{
    margin-left: 40px;
 }
 .header_box1_img img{
    width: 30px;
    height: 30px;
    margin-left: 20px;
 }
 .header_box1_sdt{
    display: flex;
    margin-right: 40px;
    font-size: 1.3rem;
 }
 .header_box1_sdt1{
    display: flex;
    margin-left: 20px;
    align-items: center;
 }
 .header_box1_sdt1 p{
    padding-left: 10px;
 }
 /*----------------------------------------header_box2--------------------------*/
 .container_header_box2{
    display: flex;
    background-color: rgb(243, 176, 52);
    justify-content: space-between;
    align-items: center;
    height: 80px;
 }
 .header_box2_logo img{
    width: 120px;
    height: 69px;
    margin-left: 40px;
    border-radius: 50% 50%;
 }
 .header_box2_menu ul{
    display: flex;
 }
 .header_box2_menu ul li{
    list-style: none;
 }
 .header_box2_menu ul li a{
    color: white;
    font-size: 1.3rem;
    margin-left: 20px;
    text-decoration: none;
 }
 .header_box2_tk{
    margin-right: 40px;
 }
 .header_box2_tk input{
    height: 30px;
    width: 80px;
    border-radius: 10px;
    margin-left: 5px;
 } 





/* --------------------------------------------------------------------------------------------container_footer_box1----------------*/
.container_footer_box1{
    display: flex;
    margin-top: 30px;
    height: 130px;
    background-color: gray;
    justify-content: center;
    align-items: center;
 }
 .footer_box1_text{
    width: 40%;
 }
 .footer_box1_input{
    margin-top: 40px;
 }
 .footer_box1_input{
    width: 40%;
 }
 .box1_input_a input{
    width: 33,3%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
 }
 .box1_input_b {
    display: flex;
    margin-top: 10px;
 }
 .box1_input_b .text{
    width: 55%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-right: 5px;
 }
 .box1_input_b input{
    width: 26%;
    border-radius: 5px;
    border: 1px solid gray;
 }
 
 
 /*---------------------------------------------------------------------container_footer_box2---------------------------------------------*/
 .container_footer_box2{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    justify-content: center;
    background-color: rgb(243, 176, 52);
 }
 
 .footer_box2_text{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
 }
 .footer_box2_text img{
    width: 200px;
    height: 100px;
 }
 .footer_box2_text p{
    font-size: 0.9rem;
 }
 .footer_box2_text ul li a{
    text-decoration: none;
    color: black;
 }



 /*----------------------------------------------------------------container_titletk*/
 .container_titletk{
   display: flex;
   width: 100%;
   height: auto;
   justify-content: center;
   margin-top: 2rem;
 }
 .titletk_box1{
   width: 30%;
 }
 .titletk_box1 img{
   width: 40%;
   height: 150px;
   border-radius: 50% 50%;
 }
 .box1_img p{
   margin-top: 10px;
   font-size: 1.3rem;
 }
 .box2_text{
   margin-top: 20px;
 }
 .box2_text ul{
   list-style: none;
 }
 .box2_text ul li{
   margin-top: 5px;
 }
 .box2_text ul li a{
   text-decoration: none;
   color: gray;
   font-size: 1.2rem;
 }
 .titletk_box2{
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 .box2{
   display: flex;
   margin-top: 20px;
   margin-bottom: 20px;
 }
 .box2_tt{
   margin-left: 40px;
 }
 .box2_tt p{
   margin-top: 10px;
 }
 .box2_input input{
   margin-left: 20px;
   height: 30px;
   width: 150px;
   border-radius: 5px;
   border: none;
   background-color: orange;
 }