
  @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400&family=Montserrat:wght@300;400;500&family=Open+Sans:wght@300&family=Poppins:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .container{
   font-family: 'Fira Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
} */
/*-----------------------------------------header-----------------------------*/
 .container_header{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
 }
 /*----------------------------------------header_box1--------------------------*/
 .container_header_box1{
    display: flex;
    width: 100%;
    height: 50px;
    /* background-color: red; */
    justify-content: space-between;
    align-items: center;
 }
 .header_box1_img{
    margin-left: 40px;
 }
 .header_box1_img img{
    width: 30px;
    height: 30px;
    margin-left: 20px;
 }
 .header_box1_sdt{
    display: flex;
    margin-right: 40px;
    font-size: 1.3rem;
 }
 .header_box1_sdt1{
    display: flex;
    margin-left: 20px;
    align-items: center;
 }
 .header_box1_sdt1 p{
    padding-left: 10px;
 }
 /*----------------------------------------header_box2--------------------------*/
 .container_header_box2{
    display: flex;
    background-color: rgb(243, 176, 52);
    justify-content: space-between;
    align-items: center;
    height: 80px;
 }
 .header_box2_logo img{
    width: 120px;
    height: 69px;
    margin-left: 40px;
    border-radius: 50% 50%;
 }
 .header_box2_menu ul{
    display: flex;
 }
 .header_box2_menu ul li{
    list-style: none;
 }
 .header_box2_menu ul li a{
    color: white;
    font-size: 1.3rem;
    margin-left: 20px;
    text-decoration: none;
 }
 .header_box2_tk{
    margin-right: 40px;
 }
 .header_box2_tk input{
    height: 30px;
    width: 80px;
    border-radius: 10px;
    margin-left: 5px;
 } 


 /*-----------------------------------------------banner---------------------------*/
 .content_banner{
    width: 100%;
    height: 400px;
 }
 .mySlide{
    display: none;

}
.mySlide img{
    width: 100%;
    height: 400px;
}

.container_banner_search{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.container_banner_search form{
    width: 80%;
}
.input1{
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 1rem;
}


/*------------------------------------------------------------------------------tìm kiếm--------------------------------*/
.input2{
    width: 18%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: rgb(243, 176, 52);
    font-size: 1.1rem;
    color: white;
    
}
.search_box2{
    margin-top: 10px;
}
.search_box2 select{
    width: 49%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;   
    font-size: 1rem;
}
hr{
    margin-top: 30px;
}

/*------------------------------------------------------------------------------------------------title-------------------------------------*/
.container_title_box1{
   margin-top: 20px;
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.container_title{
   width: 80%;
   margin: 0 auto;
}
.title_box1_text{
   justify-content: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}
/*------------------------------------------------------------------ san pham -------------------------------*/
.title_box2_hotel{
   margin-top: 10px;
   width: 80%;
   display: flex;
   justify-content: space-between;
}
.hotel_sp{
   border: 1px solid gray;
   border-radius: 5px;
   width: 24%;
   min-height: 230px;
}
.hotel_sp img{
   width: 100%;
   height: 150px;
}
.hotel_sp_price{
   display: flex;
}
.hotel_sp_text{
   width: 80%;
   margin-left: 10px;
}
.content_sp_img {
   position: relative;
   overflow: hidden;
}

.content_sp_img img {
   transition: transform 0.5s;
}

.content_sp_img:hover img {
   transform: scale(1.15)  ; /* Phóng to ảnh lên 120% */
}
.hotel_sp_text h4{
   color: red;
}
.hotel_sp_icon{
   width: 40px;
   height: 40px;
   border: 1px solid gray;
   border-radius: 50% 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
}

/*------------------------------------------------------------------------------------------------------banner2-------------------------*/
.banner2{
   width: 100%;
   height: 400px;
   margin-top: 40px;
}
.banner2 img{
   width: 100%;
   height: 400px;
}




/* --------------------------------------------------------------------------------------------------title_tienich_box---------------*/
.title_tienich_box{
   display: flex;
   width: 100%;
   height: auto;
   margin-top: 30px;
}
.box{
   width: 25%;
   height: auto;
   justify-content: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.box img{
   width: 140px;
   height: 120px;
}
.box a{
   margin-top: 10px;
   text-decoration: none;
   color: black;
}


/* ----------------------------------------------------------------------------------------------------title_baiviet ------------------------*/
.container_title_baiviet{
   margin-top: 20px;
   text-align: center;
   width: 100%;
   height: auto;
}
.title_baiviet{
   display: flex;
   justify-content: center;
   margin-top: 20px;
}
.title_baiviet_box{
   width: 30%;
   height: auto;
   margin-left: 20px;
}
.title_baiviet_box img{
   width: 100%;
   height: 300px;
}
/*---------------------------------------------------------------------------------------------sao đánh giá ------------------------*/
.fa-star{
   color: orange;
}


/* --------------------------------------------------------------------------------------------container_footer_box1----------------*/
.container_footer_box1{
   display: flex;
   margin-top: 30px;
   height: 130px;
   background-color: gray;
   justify-content: center;
   align-items: center;
}
.footer_box1_text{
   width: 40%;
}
.footer_box1_input{
   margin-top: 40px;
}
.footer_box1_input{
   width: 40%;
}
.box1_input_a input{
   width: 33,3%;
   height: 30px;
   border-radius: 5px;
   border: 1px solid gray;
}
.box1_input_b {
   display: flex;
   margin-top: 10px;
}
.box1_input_b .text{
   width: 55%;
   height: 30px;
   border-radius: 5px;
   border: 1px solid gray;
   margin-right: 5px;
}
.box1_input_b input{
   width: 26%;
   border-radius: 5px;
   border: 1px solid gray;
}


/*---------------------------------------------------------------------container_footer_box2---------------------------------------------*/
.container_footer_box2{
   display: flex;
   width: 100%;
   height: auto;
   justify-content: space-between;
   justify-content: center;
   background-color: rgb(243, 176, 52);
}

.footer_box2_text{
   width: 25%;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 30px;
}
.footer_box2_text img{
   width: 200px;
   height: 100px;
}
.footer_box2_text p{
   font-size: 0.9rem;
}
.footer_box2_text ul li a{
   text-decoration: none;
   color: black;
}




/* ================================================================= ------------------------------hotel_sp_text */
.hotel_sp_text a{
   text-decoration: none;
   color: black;
}

.header_box2_tk .fa-solid{
   font-size: 1.8rem;
   padding-left: 30px;
   color: black;
}
.search_box3{
   width: 100%;
   /* justify-content: space-between; */
   display: flex;
}
.form_input1{
   width: 50%;
   
   margin-top: 20px;
}
.form_input1 input{
   margin-top: 10px;
   width: 97% ;
   height: 40px;
}
